<h2>Parking Spots Page</h2>
<p>This is the Parking Spots page content.</p>

<table>
  <thead>
    <tr>
      <th>Parking Spot Number</th>
      <th>Parking Name</th>
      <th>Status</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let spot of parkingSpots">
      <td>{{ spot.parkingSpotNumber }}</td>
      <td>{{ spot.parkingName }}</td>
      <td>{{ spot.statusName }}</td>
      <td>{{ spot.latitude }}</td>
      <td>{{ spot.longitude }}</td>
    </tr>
  </tbody>
</table>
