:host {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.topnav {
  background-color: #0b1541;
  overflow: hidden;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

  .topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

    .topnav ul li {
      float: left;
    }

    .topnav ul li.login {
      float: right;
    }

    .topnav ul li.logout {
      float: right;
    }

      .topnav ul li a {
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

        .topnav ul li a:hover {
          background-color: #f88219;
          color: black;
        }

        .topnav ul li a.active {
          background-color: #04AA6D;
          color: white;
        }

