h2 {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

label {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: #555;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

select {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #333;
  vertical-align: middle;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

  select:focus {
    border-color: #007bff;
    outline: none;
  }

.container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-reservation-container {
  display: flex; 
  align-items: stretch; 
  width: 100%;
  height: auto; 
  gap: 10px; 
}

.image-container {
  flex: 2; 
  position: relative;
  height: auto; 
}

  .image-container img {
    width: 100%;
    height: auto;
    display: block;
  }

.reservation-container {
  flex: 1;
  background-color: #0b1541;
  color: white;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: auto;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 20px; 
  text-align: center; 
}

  .reservation-container h2 {
    color: white;
    margin-bottom: 20px; 
  }

  .reservation-container p {
    margin: 10px 0; 
  }

  .reservation-container label {
      color: white;
      margin-bottom: 10px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #f88219;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

    button[type="submit"]:hover {
      background-color: #db7418;
    }

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

  input[type="text"]:focus {
    background-color: #d6ddff;
    outline: none;
  }

.parking-spot-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  border: 2px solid #fff;
  transition: background-color 0.3s ease;
}

.my-reservation-container {
  flex: 1;
  color: #0b1541;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 20px;
  text-align: center;
}

  .my-reservation-container h2 {
    color: #0b1541;
    margin-bottom: 20px;
  }

  .my-reservation-container p {
    margin: 10px 0;
  }

  .my-reservation-container p {
    margin: 10px 0;
  }

  .btn-show {
    width: 100%;
    padding: 12px;
    background-color: #f88219;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }

    .btn-show:hover {
      background-color: #db7418;
    }

  .btn-remove {
    width: 100%;
    padding: 12px;
    background-color: #800000;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }

    .btn-remove:hover {
      background-color: #a70000;
    }

  .btn-arrived {
    width: 100%;
    padding: 12px;
    background-color: #304529;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }

    .btn-arrived:hover {
      background-color: #3f5a36;
    }

