<h2>Reservation</h2>

<div class="container">
  <select (change)="onParkingSelect($event)">
    <option *ngFor="let parking of parkings" [value]="parking.imageUrl">{{ parking.name }}</option>
  </select>
</div>

<div class="image-reservation-container">
  <div class="image-container" *ngIf="selectedParkingImage">
    <img #imageElement [src]="selectedParkingImage" alt="Selected Parking" (load)="onImageLoad()" />
    <div *ngFor="let spot of parkingSpots"
         class="parking-spot-dot"
         [ngStyle]="{
          'top': (spot.imageY / 619 * 100) + '%',
          'left': (spot.imageX / 1100 * 100) + '%',
          'background-color': getSpotColor(spot)
        }"
         (click)="onSpotClick(spot)"
         [title]="spot.parkingSpotNumber + ' - ' + spot.statusName"></div>
  </div>
  <div class="reservation-my-reservation-container">
    <div class="reservation-container">
      <h2>Spot Info</h2>
      <div *ngIf="selectedSpot">
        <p>Spot Number: {{ selectedSpot.parkingSpotNumber }}</p>
        <p>Parking Name: {{ selectedSpot.parkingName }}</p>
        <p>Status: {{ selectedSpot.statusName }}</p>
        <p>Coordinates: {{ selectedSpot.latitude }}, {{ selectedSpot.longitude }}</p>
        <div *ngIf="isSpotAvailable() && !myReservedSpot">
          <label for="registrationPlate">Registration Plate:</label>
          <input id="registrationPlate" [(ngModel)]="registrationPlate" type="text" placeholder="Registration plate">
          <button type="submit" (click)="onReserveSpot()">Reserve spot</button>
        </div>
      </div>
      <div *ngIf="!selectedSpot">
        <p>Select a parking spot to see details.</p>
      </div>
    </div>
    <div class="my-reservation-container" *ngIf="myReservedSpot">
      <h2>My reservation</h2>
      <p>Reservation start: {{ myReservedSpot.reservationStart | date:'medium' }}</p>
      <p>Reservation end: {{ myReservedSpot.reservationEnd | date:'medium' }}</p>
      <p>Registration plate: {{ myReservedSpot.registrationPlate }}</p>
      <p>Parking spot number: {{ myReservedSpot.parkingSpotNumber }}</p>
      <p>Parking name: {{ myReservedSpot.parkingName }}</p>
      <button class="btn-show">Show spot</button>
      <button class="btn-remove" (click)="onCancelReservation(myReservedSpot.id)">Cancel reservation</button>
      <button class="btn-arrived" (click)="onArrivedAtParkingSpot(myReservedSpot.id)">Arrived at spot</button>
    </div>

  </div>
  

</div>
